@font-face {
  font-family: 'Perpetua';
  src: url('../fonts/Perpetua.eot');
  src: url('../fonts/Perpetua.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Perpetua.woff2') format('woff2'),
    url('../fonts/Perpetua.woff') format('woff'),
    url('../fonts/Perpetua.ttf') format('truetype'),
    url('../fonts/Perpetua.svg#Perpetua') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Perpetua-Bold';
  src: url('../fonts/Perpetua-Bold.eot');
  src: url('../fonts/Perpetua-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Perpetua-Bold.woff2') format('woff2'),
    url('../fonts/Perpetua-Bold.woff') format('woff'),
    url('../fonts/Perpetua-Bold.ttf') format('truetype'),
    url('../fonts/Perpetua-Bold.svg#Perpetua-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}