.footer {
	max-width: 600px;
	width: 100%;
	margin: 20px auto;

	@media(min-width: 800px) {
		max-width: 800px;
	}

	a {
		display: block;
		.social-img {
			display: block;
		    margin: 20px auto;
		    width: 100%;

		    @media(min-width: 500px) {
				width: 80%;
			}
		}
	}
	
}